/* --- LOGIN LAYOUT --- */
.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #ffffff;
    position: relative;
}

/* EFECTO CIRCULAR VERDE DETRÁS */
.login-wrapper::before {
    content: "";
    position: absolute;
    width: 550px;
    height: 550px;
    background: radial-gradient(circle, #6fe3a1, #4fc57d);
    border-radius: 50%;
    filter: blur(90px);
    z-index: 0;
}

/* TARJETA */
.login-card {
    z-index: 2;
    width: 420px;
    background: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 25px 45px rgba(0,0,0,0.15);
}

.login-card h1 {
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 8px;
    color: #084f2e;
}

.sub {
    color: #666;
    margin-bottom: 25px;
}

/* CAMPOS */
label {
    font-weight: bold;
    color: #0d3e2c;
    margin-top: 15px;
}

input {
    width: 100%;
    padding: 10px 14px;
    font-size: 16px;
    border-radius: 10px;
    border: 2px solid #cdeed9;
    margin-bottom: 10px;
}

.pass-group {
    position: relative;
}

.toggle-pass {
    width: 22px;
    position: absolute;
    top: 50%;
    right: 14px;
    transform: translateY(-50%);
    cursor: pointer;
}

/* BOTÓN */
.btn-login {
    margin-top: 20px;
    width: 100%;
    padding: 14px;
    border: none;
    font-size: 18px;
    border-radius: 12px;
    background: #00953b;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.btn-login:hover {
    background: #007d2f;
}
