<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{{ title or "Coordinación" }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div class="moving-glow"></div>
<div class="bg-orb"></div>

{% if current_user.is_authenticated %}
<header class="app-header">
    <div class="app-header-title">
        Panel Organización
    </div>
</header>
{% endif %}

<div class="top-menu">
  <a class="icon-btn" onclick="history.back()">↩ Volver</a>
    <a href="{{ url_for('auth.logout') }}" class="icon-btn">⦿ Salir</a>
</div>


<main>
    {% block body %}{% endblock %}
</main>

</body>
</html>
