{% extends "base.html" %}
{% block body %}
<body style="display:flex; justify-content:center; align-items:center; height:100vh;">

<div class="login-container">

    <h2 style="color:#0b3d1e; font-size:30px; margin-bottom:5px;">
        Organización Alicante
    </h2>

    <p style="color:#305c3a; margin-bottom:25px;">
        Acceso restringido
    </p>

    <form method="POST" action="{{ url_for('auth.login') }}">
        
        <label>Usuario</label>
        <div class="input-group">
            <input type="text" name="username" required>
        </div>

        <br>

        <label>Contraseña</label>
        <div class="input-group">
            <input type="password" id="password" name="password" required>

            <img src="{{ url_for('static', filename='img/eye.svg') }}" 
                 class="toggle-pass" 
                 onclick="togglePassword()">
        </div>

        <br><br>

        <button type="submit" class="btn-submit">ACCEDER</button>

    </form>
</div>

<script>
function togglePassword() {
    const field = document.getElementById("password");
    field.type = field.type === "password" ? "text" : "password";
}
</script>

{% endblock %}
